<% include partials/header %>

<!-- Show render user information such as name and role -->
<div class="jumbotron" style="text-align:center;">
  <h1> Change Password </h1> 
</div>

<div class = "container">
    <form action="/user/password" method="POST">
       
        <div class="form-group row">
            <div class="col-sm">
                <span>Key: <%= userInformation['Key'] %></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm">
                <span> Name: <%= userInformation['Record']['name'] %></span>
            </div>
            <div class="col-sm">
                <span> Department: <%= userInformation['Record']['department'] %></span>
            </div>
            <div class="col-sm">
                <span> Position: <%= userInformation['Record']['position'] %></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="currentPassword">Current Password:</label>
                    <input type="text" class="form-control" id="currentPassword">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="text" class="form-control" id="newPassword" name="newPassword">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="confirmNewPassword">Confirm New Password:</label>
                    <input type="text" class="form-control" id="confirmNewPassword">
                </div>
            </div>
        </div>

        <input type="hidden" name="key" value="<%= userInformation['Key'] %>">
        <input type="hidden" id="originalPassword" value="<%= userInformation['Record']['password'] %>">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    currentPassword = document.getElementById('currentPassword');
    currentPassword.addEventListener('blur', function(){

        originalPassword = document.getElementById('originalPassword');
        if(currentPassword.value !== originalPassword.value){
            alert('ERROR');
            console.log('currentPassword: ' + currentPassword.value);
            console.log('originalPassword ' + originalPassword.value );
        }
    })
</script>

<% include partials/footer %>